<script type="text/javascript">
    function OnClickNewPost()
    {
        var title = prompt("Please enter title of your post");
        if (title!=null){
            title_url = title.replace(" ", "-");
            var currentdate = new Date();
			currentMonth = currentdate.getMonth()+1;
			if (currentMonth < 10) { currentMonth = '0' + currentMonth; }
            var urlNewPage = "{{ site.newsourceroot }}?filename=_posts/" 
                + currentdate.getFullYear() + "/" + currentdate.getFullYear() + "-" + currentMonth + "-" + currentdate.getDate() + "-" + title_url + ".md";
                
            var defaultText =  [
                '---',
                'layout: post',
				'title: "' + title + '"',
				'date: ' + currentdate.getFullYear() + "-" + currentMonth + "-" + currentdate.getDate() + " 19:00:00",
                'comments: true',
				'code: false',
				'photos: ',
                'categories:',
				'tags:',
                '---',
                '## Title',
                'text'
                ].join('\n');
            urlNewPage += "&value=" + encodeURIComponent(defaultText);
            window.open(urlNewPage);
        }
    }
    
    $(function() {
      // CreateNewPostLinks
      $('.newpost').each(function(){
          $(this).click(OnClickNewPost);
      });
    });
</script>
