---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <article>
		<h1 style="text-align:center;">{{ page.title }}</h1>
		<hr />
        {{content}}
      </article>
      <hr>
      <div>
         {% include share.html %}
      </div>
    </div>
	{% include comments.html %}
  </div>
  <div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        {{ page.title }}
      </div>
      <div class="content-text"></div>
    </div>
  </div>
</div>
