---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header style="text-align:center;">
        <h1>{{ page.title }}</h1>
        <p>{% include date.html %}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
		<p>
			{% assign list = page.categories | sort %}
			{% for category in list %}
				#{{ category }}
			{% endfor %}
		</p>
      </header>
      <hr>
      <article>
        {{content}}
		{% if page.photos %}
			{% include slide.html %}
		{% endif %}
      </article>
      <hr>
      <div>
         {% include share.html %}
      </div>
    </div>
	{% include comments.html %}
  </div>
  
  <div id="content" class="col-sm-3">
    <!-- <div id="myAffix" class="shadow-bottom-center hidden-xs" data-spy="affix" data-offset-top="0" data-offset-bottom="-20"> -->
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        Conteúdo
      </div>
      <div class="content-text"></div>
    </div>
  </div>
  
</div>
